<section>
  <h1>About ME</h1>
  <p><img class="left" src="/images/avatar.jpg" style="margin-top:3px; margin-bottom: 0" /> What is dreaming in digital? The blog tittle is just the lyric from a keygen song: <a href="http://www.youtube.com/watch?v=0w_SnmVyksE">Dreaming in digital</a>. In the real world I go by Evan Hung, a Chinese born in 87. I'm interested in eletronic gadgets, linux, ios, arduino, UAV, psychology, finance, photography and graphic desgin. I'm currently self studying Linux management and iOS development. Besides, I am also a <a href="http://www.topgear.com/uk">Top Gear</a> petrol head, who once participated in making chinese subtitle for the show</p>
</section>
